<!DOCTYPE html>
<html>
<head>
    <title>ESP32 Data Stream</title>
</head>
<body>
    <div id="statusMessage">Listening for ESP-32... (Server Version: <span id="serverVersion"></span>)</div>

    <form id="labelForm" style="display: none;" onsubmit="submitLabel(event)">
        <label for="label">Data Stream Name:</label>
        <input type="text" id="label" name="label">
        <input type="submit" value="Start">
    </form>

    <script>
        // Initialize server version from Flask variable
        document.getElementById('serverVersion').innerText = '{{ version }}';

        function checkForNewDevice() {
            fetch('/check_device').then(response => response.json()).then(data => {
                if (data.new_device) {
                    document.getElementById('labelForm').style.display = 'block';
                    document.getElementById('statusMessage').innerText = "ESP-32 detected! (Server Version: " + '{{ version }}' + ")";
                } else {
                    document.getElementById('statusMessage').innerText = "Listening for ESP-32... (Server Version: " + '{{ version }}' + ")";
                }
            });
        }

        function submitLabel(event) {
            event.preventDefault();
            const label = document.getElementById('label').value;
            fetch('/set-label', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ label: label })
            }).then(response => response.json()).then(data => {
                if (data.status === "label set and table created") {
                    alert("Label set successfully and table created!");
                    document.getElementById('label').value = ''; // Clear the input field
                    document.getElementById('labelForm').style.display = 'none';
                    document.getElementById('statusMessage').innerText = "Logging... (Server Version: " + '{{ version }}' + ")";
                } else {
                    alert("Failed to set label and create table!");
                }
            });
        }

        setInterval(checkForNewDevice, 5000);
    </script>
</body>
</html>
